body {
  background-color:white;
}

h1 {
  color: black;
  
}

p {
  font-family: verdana;
  font-size: 20px;
}

.navbar {

    background-color: aqua;
    height: 100px;

}

.bullet {

    color: black;
}

.LS {

    color:blueviolet;  
}

.notif {

    background-color: aqua;
    height: 36px;
    width: 580px;
}

.button1 {

    color: blue ;
}
